<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>故障反馈页</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, equip-scalable=0">
		<link rel="stylesheet" href="/static/css/font.css">
		<link rel="stylesheet" href="/static/css/weadmin.css">
	</head>

	<body>
		<div class="weadmin-nav">
			<span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">任务管理</a>
        <a>
          <cite>故障反馈</cite></a>
      </span>
			<a class="layui-btn layui-btn-sm" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
				<i class="layui-icon" style="line-height:30px">ဂ</i></a>
		</div>
		<div class="weadmin-body">
			<div class="layui-row">
				<div class="layui-form layui-col-md12 we-search">
					<div class="layui-inline">
						<input type="text" name="task_name" placeholder="请输入计划名称" autocomplete="off" class="layui-input">
					</div>
                    <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                    <button class="layui-btn" onclick="exportAll()"><i class="layui-icon">&#xe67d;</i>批量导出</button>			
				</div>
			</div>
			<table id="breakList" lay-filter="test" class="layui-table">
			</table>
		</div>
		<script src="/lib/layui/layui.js" charset="utf-8"></script>
        <script src="/static/js/eleDel.js" type="text/javascript" charset="utf-8"></script>
        <script type="text/javascript" >
			layui.use('table', function(){
  		var table = layui.table;				
  		//第一个实例 
  		table.render({
    	elem: '#breakList'
    	,height: 600
    	,url: '/admin/task/taskBreak/api/breakList' //数据接口
		,page: true //开启分页
		,limit: 5
		,limits: [5, 10, 20]
		,cols: [[ 
			//表头
		{type:'checkbox',fixed: 'left'}		
      ,{field: 'id', title: 'ID',  fixed: 'left', width:60 }
      ,{field: 'name', title: '计划名称', width:200 }
      ,{field: '_date', title: '发现日期',  templet: "<div>{{layui.util.toDateString(d._date)}}</div>", width:200}
      ,{field: 'person', title: '发现人',}	  
      ,{field: 'description', title: '部位及描述'}
      ,{field: 'urgency', title: '紧急程度',}
	  ,{field: 'picture', title: '图片示例', width:130 ,templet: '#image_header'}
      ,{field: 'tech', title: '指定处理人'}	  
      ,{field: 'operate', title: '操作', templet: '#operate'}
    ]]
  });
  
});
		</script>
		<script type="text/html" id="image_header">
			{{#  if(d.picture){ }}
			<img src="{{d.picture}}" style="width:100px; height:100px;">
		  {{#  } else { }}
		  <img src="http://bpic.588ku.com/element_pic/01/40/65/61573d0bf6a3c2b.jpg" style="width:100px; height:100px;">
		  {{#  } }}			
		</script>
		<script type="text/html" id="operate">
			<a title="处理" onclick="WeAdminShow('处理','/admin/task/taskBreak/handle?id={{d.id}}')" href="javascript:;">
				<i class="layui-icon">&#xe642;</i>处理
			</a>
		</script>
		<style>
			.layui-table tr td, .layui-table tr td div{
				height: 100px !important;
			}
		</style>
		<script>
			layui.use(['table','jquery','layer'], function(){
			  let layer = layui.layer;
			  let $ = layui.jquery;
			/*用户-删除*/
			window.task_del = function (obj, id) {
			layer.confirm('确认要删除吗？', function(index) {
			//发异步删除数据
			$.get('taskList/del_task?equip_id='+id).then(()=>{
				layer.msg('已删除!', {
				icon: 1,
				time: 1000
						});
						setTimeout(()=>{
							location.reload()
						},1000)
					})
				});
			}
		})
		</script>
	</body>

</html>